body {
  margin: 0;
  font-family: 'Pixel', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Pixel';
  src: url('./assets/font/Pixel-LCD-7.woff') format('woff');
}
